.DS_Store
.nfs*
tmp
tmp-*
*.a
*.mod
*.o
*.tmp
*.ANI
*.BONDS
*.BONDS_FINAL
*.DM
*.EIG
*.FA
*.KP
*.ORB_INDX
*.POT.CONF
*.STRUCT_NEXT_ITER
*.STRUCT_OUT
*.Vhart
*.Vhart-*
*.Vsoft
*.Vxc
*.Vxc-*
*.XV
*.alloc
*.bands
*.bib
*.confpot
*.ion
*.ion.xml
*.log
*.out
*.psdump
*.xml
1.sh
0_NORMAL_EXIT
BASIS_ENTHALPY
BASIS_HARRIS_ENTHALPY
BLOCK_INDEXES
CHLOCAL.*
CLOCK
FORCE_STRESS
INPUT_TMP.*
KB.*
MESSAGES
NON_TRIMMED_KP_LIST
OCCS
ORB.*
PARALLEL_DIST
RED_VLOCAL.*
SPLIT_SCAN.*
VNA.*
core*
fort.*
out.fdf
out[1-9]
vgcore*
